<ion-header>
  <ion-button color="primary" routerLink="/form">
    <ion-icon slot="start" name="airplane-outline"></ion-icon>
    Formulário s/ data binding
  </ion-button>
  <ion-button color="success" routerLink="/form2">
    <ion-icon slot="start" name="airplane-outline"></ion-icon>
    Formulário c/ data binding
  </ion-button>
</ion-header>

<ion-content>
  
  <ion-row>
    <ion-col>
      Data binding: {{ obj.nome }}
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer> 

  <ion-button color="danger" (click)="listarNomes()">
    <ion-icon name="finger-print"></ion-icon>
    LISTAR NOMES
  </ion-button>

</ion-footer>